<%- include header.ejs %>
<header>
  <style>
    table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}
  </style>
</header>
<h1><center>REACH US</center></h1><br>
<table width=1000px; cellspacing="20">
  <tr>
    <td> <center><img src="https://image.flaticon.com/icons/png/128/88/88459.png" height="75" width="75" alt=""></center> </td>
      <td> <center><img src="https://image.flaticon.com/icons/png/128/88/88473.png" height="75" width="75" alt=""></center> </td>
      <td><center><img src="https://image.flaticon.com/icons/png/128/88/88457.png" height="75" width="75" alt=""></center></td>
  </tr>
  <tr>
    <td ><h3><center><b>ADDRESS<b></center></h3></td>
    <td><h3><center><b>PHONE<b></center></h3></td>
    <td><h3><center><b>EMAIL<b></center></h3></td>
  </tr>
  <tr>
    <td> <center>6/16/9 Jyotirmaya Complex, Sec.8 Artist Village, Turbhe </center></td>
    <td><center><b> Jyotirama Complex</b></center> </td>
    <td><center><b> Complain Purposes </b></center> </td>
  </tr>
  <tr>
    <td><center> Mumbai, Maharashtra(400613)<center><br> </td>
      <td><center> 02227574473 </center> <br></td>
      <td><center>complain@carrentalsystem.com</center> <br></td>
  </tr>
  <tr>
    <td> <center>A1/704, Happy Valley, Manpada Rd, Nr Tikujiniwadi, Thane (west) </center></td>
    <td><center><b> Happy Valley</b></center> </td>
    <td><center><b> Employment opportunities</b></center> </td>
  </tr>
  <tr>
    <td><center> Mumbai, Maharashtra(400607)<center> </td>
      <td><center> 02225890656 </center> </td>
      <td><center>employee@carrentalsystem.com</center> </td>
  </tr>
</table>





<%- include footer.ejs %>
